//google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


// global settings
*{
 margin: 0;
 padding: 0;
 font-family: "Poppins", sans-serif;
 box-sizing: border-box;
 scroll-behavior: smooth;
 outline: none;
 list-style: none;
 text-decoration: none;
}
 
// variables
$bg-black-100: rgb(31,31,31,0.9);
$bg-white-100: #ddd;
$bg-white-50: #eff0f4;
$bg-white-25: #f5f5f5;
$bg-white-10: #f5f5f5;
$text-black-900: #000;
$text-black-700: rgb(37,37,37);
$text-black-600: rgb(172, 172,172);
$text-black-400: rgb(221,221,221);
$text-black-300: #f5f5f5;
$shadow:0 5px 20px rgba(0,0,0,0.5);


// base
body{
  font-size: 16px;
  line-height: 1.5;
}
:before, :after{
 box-sizing: border-box;
}
img{
 width: 100% ;
}
.container{
 max-width: 1140px;
 margin:auto;
}
.row{
 display: flex;
 flex-wrap: wrap;
}
.titleText, h2{
 color: $text-black-900;
 font-size: 2em;
 font-weight: 300;

 span{
  color: $text-black-700;
  font-weight: 700;
  font-size: 1.5em;
 }
}


// button Style

// navigation bar

// landing page

// about section

// system section

// service section

// testimonial section

// contact section

// copyright section

// media queries

// for laptop

// for tablet