//google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


// global settings
* {
 margin: 0;
 padding: 0;
 font-family: "Poppins", sans-serif;
}
 
// variables

// base

// button Style

// navigation bar

// landing page

// about section

// system section

// service section

// testimonial section

// contact section

// copyright section

// media queries

// for laptop

// for tablet