<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>De Laundry</title>
 <!-- style link -->
 <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <!-- Navigation bar start -->
    <header>
     <a href="#" class="logo">De Laundry</a>
     <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">System</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Testimonial</a></li>
      <li><a href="#">Contact</a></li>
     </ul>
    </header>

   <!-- Navigation bar end -->

   <!-- js link -->
   <script src="../js/script.js"></script>

</body>
</html>